<!-- Composant principale -->
<template>
  <div id="app" style="text-align: center;">
    <img src="./assets/logo.png">
    <cars name='' model='' year=''></cars>
  </div>
</template>

<script>
import cars from './components/cars'

export default {
  name: 'App',
  components: {
    cars
  }
}
</script>
