<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
      <input type="text" id="input" v-model="message">
      <p>{{message}}</p>
      <ul>
          <li v-for="nom in professeurs">{{nom}} </li>
        </ul>
        <button @click="ajoutNom"></button>
    </div>


    


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script>
      var app = new Vue({   
        el : '#root',
        data : {
         // message : 'Le SIO c\'est trop rigolo',
          professeurs: ['Robert','Damico','Roubeau','Vigny']
          // $vm0.professeurs.push('oui') pour ajouter une valeur a un tableau
        }
        methods:{
          ajoutNom(){
            
          }
        }
      })
    </script>
    
</BODY>
</HTML>

