<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <MatableVue></MatableVue>
  </div>
</template>

<script>
import MatableVue from './components/MatableVue.vue'

export default {
  name: 'app',
  components: {
    MatableVue
  }
}
</script>

<style>
#app {
font-family: 'Avenir', Helvetica, Arial, Sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
color: #2c3e50;
margin-top: 60px;
}
</style>