<template>
    <vuetable ref="vuetable"
    api-url="https://pokeapi.co/api/v2/pokemon"
    :fields="['name','url']"
    data-path="results"
    />
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    export default {
        components: {
            Vuetable
        },
    }
</script>
