<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
  Y a rien pour le moment

  <input type="text" id="input" v-model="message">
  <P> Vous avez saisi: {{ message }} </P>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
      el: '#root',
      data: {
          message: 'Le SIO c\'est rigolo'
      }
  })

</script>
  

</BODY>
</HTML>

