<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
  Y a rien pour le moment

  <ul>
    <li v-for="nom in professeurs">{{ nom }}</li>
</ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
      el: '#root',
      data: {
          professeurs: ['Robert', 'Damico', 'Roubeau', 'Vigny']
      }
  })

</script>
  

</BODY>
</HTML>

