<!DOCTYPE html>
<html>
<head>
<title> Learn Vue </title>
</HEAD>
<BODY>
    <div id="root">
  <input type="text" id="ajout" v-model="nouveau">
  <button @click="ajoutNom" id="btnAjout">Ajoutez le nom </button>

  <ul>
    <li v-for="nom in professeurs">{{ nom }}</li>
</ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
      el: '#root',
      data: {
          nouveau : '',
          professeurs: ['Robert', 'Damico', 'Roubeau', 'Vigny']
      },
      methods: {
        ajoutNom(){
            this.professeurs.push(this.nouveau);
          }
        }
  })

</script>


</BODY>
</HTML>
