
<html>
  <head>
    <meta charset="utf-8">
    <title>oui2</title>
    
  </head>
  <body>
    <div id="grandeliste">
      <ol>
	  <afaire-item v-for="matiere in listeSlam" v-bind:liste="matiere" v-bind:key="matiere.id">
	  </afaire-item>
	  </ol>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index2.js"></script>
  </body>
</html>
