
.carousel-item{
  min-height:300px;
  background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;
  width: 640px;
}

.carousel-inner{
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);

  transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.carousel-item a{
  padding-bottom: 50px;
  margin-left: 50px;
display: block;
color: #fff;
text-decoration: none;
padding: 20px;
font-size: 16px;
}
