<template>
  <div style="text-align: center;">
      <h1>{{ message }}</h1>
      <h2>Hello {{ person.firstname }} {{ person.lastname }}</h2>
      <label> Firstname : <input type="text" v-model="person.firstname"/></label>
      <label> lastname : <input type="text" v-model="person.lastname"/></label>
      <label> Messag : <input type="text" v-model="message"/></label>
  </div>
</template>

<script>
export default {
  data () {
    return {
        person:{
            firstname: 'PEROT',
            lastname: 'Alexandre'
        },
        message: 'Welcome!'
    }
    }
  }
</script>

