<template>
  <div>
      <h1> Hello {{ person.firstname }} {{ person.lastname }} de {{ from }} !</h1>
  </div>
</template>

<script>
export default {
  data () {
    return {
      person: {
        firstname: 'PEROT',
        lastname: 'Alexandre'
      },
      from : 'Paris',
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
